{{!-- {{posted_stuff}} <br/>  --}}

<div class="jumbotron">

  <h1 class="display-4">{{stock.companyName}} ({{stock.symbol}})</h1>


  <p class="lead"><strong> Latest Price: </strong> {{stock.latestPrice}} <br/> 

<strong> Previous Close: </strong> {{stock.previousClose}} <br/> 
<strong> 52 Week High : </strong> {{stock.week52High}} <br/>
<strong> 52 Week Low : </strong> {{stock.week52Low}} <br/>
<strong> Market Cap : </strong> {{stock.marketCap}} <br/>
<strong> PE Ratio : </strong> {{stock.peRatio}} <br/> </p>
 
</div>








